* {
    box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: rgb(30, 30, 30);
    margin: 0;
    padding-top: 60px;
  }
  
  header {
    background-color: #08090c;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    display: flex;
    align-items: center;
    
    gap: 30px;
  }
  
  .header-left {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
  }
  
  .header-left:hover {
    color: green;
  }
  
  .header-mid-container {
    display: flex;
    gap: 20px;
  }
  
  .header-mid {
    color: #fff;
    font-size: 1em;
    text-decoration: none;
    display: inline-block;  
    padding-bottom: 4px;
  
  }
  
  .header-mid:hover {
    color: green;
    border-bottom: 4px solid #40de32;
    
  }
  
  .header-mid.active {
    color: green;
    border-bottom: 4px solid #40de32;
  }
  
  #btn-menu {
    display: none;
  }
  
  .menu-icon {
    display: none;
    background: #2a343e;
    padding: 5px 10px;
    font-size: 14px;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
  }
  
  @media only screen and (max-width: 768px) {
    .header-mid-container {
      display: none;
      position: absolute;
      background: #234;
      width: 200px;
      right: 10px;
      top: 60px;
      flex-direction: column;
      gap: 10px;
      padding: 15px;
      border-radius: 3px;
    }
  
    #btn-menu:checked ~ .header-mid-container {
      display: flex;
    }
  
    .menu-icon {
      display: block;
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
    }
  
    .header {
      padding: 10px 20px;
    }
  
     }
  
  .container {
    display: flex;
    margin-bottom: 60px; 
    flex-wrap: nowrap; /* Prevent line wrapping */
  }
  .filter-toggle {
    display: block; 
    width: auto; 
    padding: 10px 5px; 
    text-align: center;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
    margin: 60px auto 20px auto; 
  }
  @media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }
  
    .filter-toggle {
        display: block;
    }
  
    .filter-container {
        width: 100%;
        margin: 0;
        padding: 10px;
        display: none;
    }
  }
  
  .filter-container {
    width: 250px;
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex-shrink: 0; /* Prevent shrinking */
   
  }
  .filter-container {
    
    top: 80px; /* Adjust top according to your header height */
    max-height: calc(100vh - 100px); /* Adjust maximum height */
    overflow-y: auto; /* Add scroll inside the aside if needed */
  }
  
  h2 {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 20px;
  }
  
  .filter-group h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  .filter-group ul {
    list-style-type: none;
    padding: 0;
  }
  
  .filter-group ul li {
    margin-bottom: 10px;
  }
  
  .filter-group ul li a {
    text-decoration: none;
    color: #007bff;
  }
  
  .filter-group ul li a:hover {
    text-decoration: underline;
  }
  
  .content {
    flex-grow: 1;
    padding: 20px;
  
  }
  
  .job {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative; 
  }
  .job-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .job-date {
    font-size: 0.9em;
    color: #666;
    position: absolute;
    top: 15px;
    right: 15px;
  }
  
  .job-details {
    display: block;
    margin-top: 10px;
    text-align: right;
    color: #007bff;
    text-decoration: none;
  }
  
  .job-details:hover {
    text-decoration: underline;
  }
  
  
  
  footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    width: 100%;
  }
  